#Should we install the ubiquity gtk frontend? 
#YES for gtk, anything else for QT
GTK="YES"

#The directory where everything will be copied to and set up
WORK="/home/distroshare_imager"

#The kernel boot parameters of the live cd. 
KERNEL_PARAMS=""

#The kernel boot parameters that ubiquity(the installer) will
#set in /etc/default/grub for the installation
UBIQUITY_KERNEL_PARAMS=""

#Should the script stop to give you an interactive shell after
#it finished copying everything?  This is useful if you need
#to make custom mods that you don't want to make to your original
#system. YES for an interactive shell, anything else to skip it.
INTERACTIVE_SHELL="NO"
