#Should we install the ubiquity gtk frontend? 
#YES for gtk, anything else for QT
GTK="YES"

#The directory where everything will be copied to and set up
WORK="/media/hugh/usbdrive"

#Display Manager
#Set to GDM, MDM, KDM, or a blank string. Lightdm does not require any 
#specific changes by distroshare imager, but gdm, mdm, and kde require
#the script to create a config file for autologin to work.
#DM=""
#DM="MDM"
#DM="KDM"
#DM="GDM"
DM=""

#A specific kernel version to use for the Live CD. This could be useful
#if you are using a custom kernel that does not have the aufs module built
#in.
#KERNEL_VERSION="3.13.0-24-generic"
KERNEL_VERSION=$(uname -r)

#The kernel boot parameters of the live cd. 
KERNEL_PARAMS=""

#The kernel boot parameters that ubiquity(the installer) will
#set in /etc/default/grub for the installation.  Often, this
#will be the same as KERNEL_PARAMS
UBIQUITY_KERNEL_PARAMS=""

#Extra packages to install in the image.  Packages must be separated by a space.
EXTRA_PKGS="ubiquity-slideshow-ubuntu"

#Release notes url that shows up after the Ubiquity installer is started
RELEASE_NOTES_URL="https://www.distroshare.com/"
