#Should we install the ubiquity gtk frontend? 
#YES for gtk, anything else for QT
GTK="YES"

#The directory where everything will be copied to and set up
WORK="/media/hugh/usbdrive"

#A specific kernel version to use. If this variable is empty,
#the currently running kernel version will be used
KERNEL_VERSION=""

#The kernel boot parameters of the live cd. 
KERNEL_PARAMS=""

#The kernel boot parameters that ubiquity(the installer) will
#set in /etc/default/grub for the installation.  Often, this
#will be the same as KERNEL_PARAMS
UBIQUITY_KERNEL_PARAMS=""

#Extra packages to install in the image.  Packages must be separated by a space.
EXTRA_PKGS="ubiquity-slideshow-ubuntu"

#Release notes url that shows up after the Ubiquity installer is started
RELEASE_NOTES_URL="https://www.distroshare.com/"
